body {
    height: 100%;
    margin: 0;
    width: 100%;
}

h2 {
    font-size: 56px;
}

a {
    text-decoration: none;
}

.hero {
    /*height: 100%;*/
    /*padding: 250px 0;*/
    text-align: center;
    /*background-image: url("images/smacked.JPG");*/
    /*background-size: cover;*/
}

.resume {
    text-align: center;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .section {
        text-align: center;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

}